* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f5f5f5;
}

header {
  display: flex;
  min-height: 4.375rem;
  background-color: #333; 
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.875rem; 
}

.icono-de-menu {
  width: 6.25rem;
  height: 2.5rem; 
  fill: white;
  display: flex;
  justify-content: flex-start;
}

.icono-de-menu:hover {
  color: #333;
}

.nombre {
  color: #fff;
  text-decoration: none;
}

nav {
  display: flex;
  gap: 0.625rem;
}

nav a {
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0.9375rem;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

nav a:hover {
  background-color: #8d8d8d;
}

.estylos-contacto a {
  margin: 5px;
  text-decoration: none; 
  color: #fff; 
}

.estylos-contacto a:hover {
  color: #ccc;
}

.resume {
  border: 0.25rem solid #333; 
  display: flex;
  width: 80%;
  margin: 1.25rem auto; 
  background-color: #f5f5f5;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.left-section, .right-section {
  padding: 1.25rem; 
}
 
.left-section {
  width: 30%;
  background-color: #2c2c2c;
  color: #f5f5f5;
  text-align: center;
}

.profile-pic {
  width: 9.375rem; 
  height: 9.375rem;
  margin-bottom: 1.25rem; 
}

h1 {
  font-size: 1.5rem;  
  margin-bottom: 0.625rem;
}

.contact, .skills, .languages {
  margin-top: 1.25rem;
  text-align: left;
  margin: 10%;
}

h3 {
  font-size: 1rem; 
  margin-bottom: 0.625rem; 
}

.right-section {
  width: 70%;
  padding-left: 2.5rem; 
}

.right-section h2 {
  border-bottom: 0.125rem solid #333; 
  padding-bottom: 0.3125rem; 
  margin-bottom: 0.9375rem; 
}

.experience-item, .education-item {
  margin-bottom: 1.25rem; 
}

ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}

p {
  margin-bottom: 0.3125rem; 
}

.h2-publicaciones-subtitle {
  text-align: center;
  color: #000;
}

.links-a-paginas-trabajadas {
  color: #000;
  text-decoration: none;
}

.seccion-publicaciones h1 {
  font-size: 18px;
  margin: 10px 0;
}

.seccion-publicaciones p {
  font-size: 14px;
  color: #000;
}

.links-a-paginas-trabajadas {
  text-decoration: none;
} 

footer {
text-align: center;
bottom: 0;
padding: 20px;
font-size: 24px;
background-color: #333;
color: #f5f5f5;
width: 100%;
}